.products {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.products--subtitle {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Neue montreal bold";
}

.products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4px;
  row-gap: 25px;
}

@media (max-width: 990px) {
  .products__list {
    grid-template-columns: repeat(3, 1fr);
  }
}



@media (max-width: 768px) {
  .products__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

